<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>{{link-to "Dashboard" "index" class="mdi-action-assessment"}}</li>
            <li>{{link-to "Friends" "friends" class="mdi-social-group"}}</li>
            <li>{{link-to "New Friend" "friends.new" class="mdi-social-person-add"}}</li>
        </ul>
    </div>
</nav>

    <!--responsive -->
